In [ ]:
import pandas as pd
band_edata = pd.read_csv('band_실전사례.csv', encoding='utf-8', index_col=0)
band_qdata = pd.read_csv('band_질문답변.csv', encoding='utf-8', index_col=0)
member_data = pd.read_csv('k99_member_list_complete.csv', encoding='CP949')

band_edata.insert(4, 'member_name', None)
band_qdata.insert(4, 'member_name', None)
member_data = member_data[0:313]

print(f'band_edata shape: {band_edata.shape}\nband_qdata shape: {band_qdata.shape}')

In [ ]:
band_qdata

In [ ]:
member_data

In [ ]:
########################
##### Create member list
########################

### member_data의 '이름'을 실제 밴드 닉네임에 포함된 'author_name'으로 넣기
## 나중에 band_data와 연결하기 위해...

name_list = list(member_data['이름'])
name_list[name_list.index('문미숙 강정일')] = '강정일'
name_list[name_list.index('정종건 정종호')] = '정종호'
name_list[name_list.index('강은경 배대윤')] = '배대윤'
name_list[name_list.index('원창선 박영희')] = '박영희'
name_list[name_list.index('신종하 김종희')] = '신종하'
name_list[name_list.index('박현주 김노경')] = '김노경'
name_list[name_list.index('황진기 신혜숙')] = '황진기'
name_list[name_list.index('허경림 황태일')] = '허경림'
name_list[name_list.index('안귀환 김주현')] = '안귀환'
name_list.append('김주현')
name_list[name_list.index('정서현 김용대 김평곤')] = '김용대'
name_list[name_list.index('김현정 박중숙')] = '박중숙'
name_list[name_list.index('홍은조 한창희')] = '한창희'
name_list[name_list.index('김해 월드 유승정')] = '유승정'
name_list[name_list.index('김성균 조부현')] = '조부현'
name_list[name_list.index('송석길 장양임')] = '송석길'
name_list.append('장양임')
name_list[name_list.index('차정호 조명호')] = '조명호'
name_list[name_list.index('정운표 정현철 정희경')] = '정현철'
name_list[name_list.index('장병호 박옥주')] = '장병호'
name_list[name_list.index('신동철 이명옥')] = '이명옥'
name_list[name_list.index('박재일 박주성')] = '박주성'
name_list[name_list.index('김남진 오택선')] = '오택선'
name_list[name_list.index('전미경 장종기')] = '장종기'
name_list[name_list.index('남인숙 김영권')] = '김영권'
name_list[name_list.index('윤현정 조규종')] = '윤현정'
name_list.append('조규종')
name_list[name_list.index('김영규 이상곤')] = '김영규1'
name_list[name_list.index('김미경 윤태훈')] = '윤태훈'
name_list[name_list.index('진성 강계순')] = '강계순'
name_list[name_list.index('임상선 유영임')] = '유영임'
name_list[name_list.index('정원조 정운조')] = '정원조'
name_list[name_list.index('허태은 구나영')] = '허태은'
name_list.append('구나영')
name_list[name_list.index('박순덕 김용수')] = '박순덕'
name_list.append('김용수')
name_list[name_list.index('오태선 김명숙')] = '오태선'
name_list.append('김명숙')
name_list[name_list.index('장덕호 곽미자')] = '장덕호'
name_list.append('곽미자')
name_list[name_list.index('정달영 우영')] = '정달영'
name_list.append('정우영')
name_list[63] = '김동기1'
name_list[252] = '김동기2'

In [ ]:
def indices(lst, item):
    return [i for i, x in enumerate(lst) if x == item]
dict((x, indices(name_list, x)) for x in set(name_list) if name_list.count(x) > 1)

In [ ]:
### Member list
name_list

In [ ]:
### Add member_name to each author
for name in name_list:
    temp_eindices = list(band_edata[band_edata['author_name'].str.contains(name)].index)
    temp_qindices = list(band_qdata[band_qdata['author_name'].str.contains(name)].index)
    for i in temp_eindices:
        band_edata.at[i, 'member_name'] = name
    for j in temp_qindices:
        band_qdata.at[j, 'member_name'] = name
        

### Insert member_name manually for those who don't include their real name in author name
exc_name_list = ([['조 철상 수원', '조철상'], ['삼성 세탁소', '송석길, 장양임'], 
                 ['한양대 정재윤', '정재윤'], ['대전청소크린크린', '정계묵'], ['뿔리또', '오경준'], 
                  ['광주 삼성세탁 신철우', '신철우'], ['이서오', '한정원'], ['신포천세탁소', '심혁동'],
                  ['세탁의 품격', '김주홍'], ['인천ㅣ김영규', '김영규1'], ['김동기수원영통', '김동기2'],
                 ['김동기', '김동기1'], ['자이명품', '김명수']])
                #['김복순']
for ename in exc_name_list:
    exc_temp_eindices = list(band_edata[band_edata['author_name'].str.contains(ename[0])].index)
    exc_temp_qindices = list(band_qdata[band_qdata['author_name'].str.contains(ename[0])].index)
    for i in exc_temp_eindices:
        band_edata.at[i, 'member_name'] = ename[1]
    for j in exc_temp_qindices:
        band_qdata.at[j, 'member_name'] = ename[1]

In [ ]:
band_edata

In [ ]:
def change_name(df, col_name, Bs, As):
    temp_index_list = list(df[df[col_name] == Bs].index)
    for i in temp_index_list:
        df.at[i, col_name] = As

### change 'member_name' to original pair name
oname_list = ([ ['문미숙 강정일','강정일'], ['정종건 정종호', '정종호'], ['강은경 배대윤', '배대윤'], 
               ['원창선 박영희', '박영희'], ['신종하 김종희', '신종하'], ['박현주 김노경', '김노경'], 
               ['황진기 신혜숙', '황진기'], ['허경림 황태일', '허경림'], ['안귀환 김주현', '안귀환'], 
               ['정서현 김용대 김평곤', '김용대'], ['김현정 박중숙', '박중숙'], 
               ['홍은조 한창희', '한창희'], ['김해 월드 유승정', '유승정'], ['김성균 조부현', '조부현'],
               ['송석길 장양임', '송석길, 장양임'], ['차정호 조명호', '조명호'], 
               ['정운표 정현철 정희경', '정현철'], ['장병호 박옥주', '장병호'], 
               ['신동철 이명옥', '이명옥'], ['박재일 박주성', '박주성'], ['김남진 오택선', '오택선'], 
               ['전미경 장종기', '장종기'], ['남인숙 김영권', '김영권'], ['윤현정 조규종', '윤현정'], 
               ['김영규 이상곤', '김영규1'], ['김미경 윤태훈', '윤태훈'], ['진성 강계순', '강계순'], 
               ['임상선 유영임', '유영임'], ['정원조 정운조', '정원조'], ['허태은 구나영', '허태은'], 
               ['박순덕 김용수', '박순덕'], ['오태선 김명숙', '오태선'], ['장덕호 곽미자', '장덕호'], 
               ['정달영 우영', '정달영'] ])

for oname in oname_list:
    change_name(band_edata, 'member_name', oname[1], oname[0])
    change_name(band_qdata, 'member_name', oname[1], oname[0])

In [ ]:
band_edata.head()

In [ ]:
#############################################
##### * Edit member_data for duplicated names
#############################################

# 김영규1: 인천 | 김영규 (김영규 이상곤) , 김영규2: ? (김영규)
change_name(member_data, '이름', '김영규', '김영규2')
# 김동기1: 김동기 (김동기) , 김동기2: 김동기수원영통 (김동기)
temp_index = member_data[(member_data['이름'] == '김동기') & (member_data['순서'] == '65-1')].index
member_data.at[temp_index[0], '이름'] = '김동기1'
temp_index = member_data[(member_data['이름'] == '김동기') & (member_data['순서'] == '255')].index
member_data.at[temp_index[0], '이름'] = '김동기2'

In [ ]:
#############################################
##### Add 'member_id' column to the band_data
#############################################

### 실전사례 data update
update_band_edata = pd.merge(band_edata, member_data[['순서', '이름']], left_on='member_name', right_on='이름', how='left')
update_band_edata = update_band_edata.drop(columns='이름')
update_band_edata = update_band_edata[['created_at', 'post_key', 'content', 'author_name', 'member_name', '순서', 
       'author_image_url', 'author_key', 'photo_info', 'photo_url',
       'video_info', 'video_url', 'comment_author_name',
       'comment_author_image_url', 'comment_author_key', 'comment_key',
       'comment_created_at', 'comment_content', 'comment_photo_info',
       'comment_photo_url', 'comment_video_info', 'comment_video_url',
       'com_comment', 'post_url']]
update_band_edata.rename(columns = {'순서':'member_id'},inplace=True)


### 질문답변 data update
update_band_qdata = pd.merge(band_qdata, member_data[['순서', '이름']], left_on='member_name', right_on='이름', how='left')
update_band_qdata = update_band_qdata.drop(columns='이름')
update_band_qdata = update_band_qdata[['created_at', 'post_key', 'content', 'author_name', 'member_name', '순서', 
       'author_image_url', 'author_key', 'photo_info', 'photo_url',
       'video_info', 'video_url', 'comment_author_name',
       'comment_author_image_url', 'comment_author_key', 'comment_key',
       'comment_created_at', 'comment_content', 'comment_photo_info',
       'comment_photo_url', 'comment_video_info', 'comment_video_url',
       'com_comment', 'post_url']]
update_band_qdata.rename(columns = {'순서':'member_id'},inplace=True)

In [ ]:
#####################################################################
##### * restore member_data & update_band_data for duplicated names
#####################################################################


##### member_data
# 김영규1: 인천 | 김영규 (김영규 이상곤) , 김영규2: ? (김영규)
change_name(member_data, '이름', '김영규2', '김영규')
# 김동기1: 김동기 (김동기) , 김동기2: 김동기수원영통 (김동기)
change_name(member_data, '이름', '김동기1', '김동기')
change_name(member_data, '이름', '김동기2', '김동기')


##### update_band_data (member_name)
change_name(update_band_edata, 'member_name', '김영규2', '김영규')
change_name(update_band_qdata, 'member_name', '김영규2', '김영규')
change_name(update_band_edata, 'member_name', '김동기1', '김동기')
change_name(update_band_qdata, 'member_name', '김동기1', '김동기')
change_name(update_band_edata, 'member_name', '김동기2', '김동기')
change_name(update_band_qdata, 'member_name', '김동기2', '김동기')

### 한양대 정재윤 id 추가
temp_index_list = list(update_band_edata[update_band_edata['member_name'] == '정재윤'].index)
for i in temp_index_list:
    update_band_edata.at[i, 'member_id'] = 0
temp_index_list = list(update_band_qdata[update_band_qdata['member_name'] == '정재윤'].index)
for i in temp_index_list:
    update_band_qdata.at[i, 'member_id'] = 0

In [ ]:
print(update_band_edata.shape)
print(update_band_qdata.shape)

In [ ]:
update_band_edata[update_band_edata['member_id'].isnull()]

In [ ]:
update_band_edata.head()

In [ ]:
update_band_qdata.head()

In [ ]:
update_band_edata.to_csv('./update_band_실전사례.csv', encoding='utf-8-sig')
update_band_qdata.to_csv('./update_band_질문답변.csv', encoding='utf-8-sig')